<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="Data Source=Muradov-Tahmaz\TAHMAZ_MURADOV;Initial Catalog=AzAgroPOS_DB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>